*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, footer{
    background-color:  #004D40;
    color: white;
    padding: 10px;
    text-align: center;
}

.lewy{
    background-color:  #80CBC4;
    color: white;
    height: 500px;
    width: 30%;
}

.srodek{
    background-color:  #E0F2F1;
    height: 500px;
    width: 30%;
    text-align: center;

}

.prawy{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 40%;
}

.prawy1{
    background-color: #E0F2F1;
    
}

.prawy2{
    background-color: #B2DFDB;
}

h3{
    text-align: center;
}

img{
    padding: 5px;
    height: 150px;
    border: dotted 1px  #004D40;
    border-radius: 5px;
}

input{
    margin: 10px;
}

main{
   display: flex; 
}
